@import url("https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  color: #9A9A9A;
}

.header {
  padding: 61px 0 10px 0;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.753);
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  /* flex: 0 1 272px; */
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* flex: 1 1 auto;
		display: flex;
		justify-content: flex-end; */
}

.logo {
  padding: 0 20px 0 0;
}

.menu {
  padding: 0 20px 0 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  margin: 0 40px 0 0;
}

.menu__link a {
  color: #222831;
  font-weight: 700;
  display: inline-block;
  line-height: 175%;
}

.menu__link:last-child {
  margin: 0 0 0 0;
}

.title {
  font-family: Lora;
  font-size: 40px;
  font-weight: 700;
  line-height: 127.5%;
  color: #10375C;
}

.title_dark {
  color: #222831;
}

.title_white {
  color: #FFFFFF;
}

.line-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-title::after {
  content: "";
  width: 73px;
  height: 2px;
  display: inline-block;
  background: #222831;
  margin: 0 0 0 15px;
}

.line-title_dark {
  color: #222831;
}

.line-title_white {
  color: #FFFFFF;
}

.line-title_white::after {
  background-color: #fff;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 103px;
  height: 43px;
  padding: 24px;
  color: aliceblue;
  background: #FF5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
  font-weight: 700;
}

.btn_white {
  color: #FF5722;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  padding: 150px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}

.conent-top__line-title {
  margin: 0 0 8px 0;
}

.conent-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title-top {
  font-family: Lora;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 128.84615%;
  color: #10375C;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 667px;
          flex: 1 0 667px;
}

.title-top span {
  color: #dd2c00;
}

.subtitle-top {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 382px;
          flex: 0 1 382px;
}

/* =================================================================== */

.our-spaces {
  margin-top: 112px;
}

.our-spaces__header {
  margin: 0 0 52px 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.our-spaces__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
}

.our-spaces__subtitle {
  font-size: 18px;
  line-height: 155.55556%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 452px;
          flex: 0 1 452px;
}

.our-spaces__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.our-spaces__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.our-spaces__info {
  color: #222831;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.item-our-spaces__image {
  position: relative;
  max-width: 100%;
  margin: 0 0 25px 0;
}

.item-our-spaces__image::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background: #FF5722 url("../img/arrow.svg") center no-repeat;
  padding: 20px;
}

.check-our-spaces {
  background: #10375C;
  color: #FFFFFF;
  height: 467px;
  padding: 72px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

._no-webp .check-our-spaces::before{
  background: url("../img/image2.png") no-repeat; }

.check-our-spaces::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 90px;
  height: 90px;
  display: inline-block;
}

.check-our-spaces__title {
  text-align: center;
  font-family: Lora;
  font-size: 32px;
  line-height: 128.125%;
  margin: 0 0 14px 0;
}

.check-our-spaces__text {
  text-align: center;
  font-size: 18px;
  line-height: 155.55556%;
}

.check-our-spaces__link {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 72px;
  background: #FF5722;
  padding: 0 20px 0 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 122.22222%;
}

.check-our-spaces__link span {
  background: url("../img/arrow.svg") right no-repeat;
  display: inline-block;
  padding: 0 60px 0 0;
}

.why-frispes {
  margin: 112px 0 0 0;
}

.why-frispes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.why-frispes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 0 64px 0;
}

.support {
  padding: 35px 35px 35px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51.35135%;
          flex: 0 0 51.35135%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.support__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  text-align: center;
}

.support__content {
  margin: 0 0 0 16px;
}

.support__title {
  font-size: 32px;
  font-family: Lora;
  line-height: 128.125%;
  color: #10375C;
}

.support__text {
  line-height: 162.5%;
}

.frispes-why {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.64865%;
          flex: 0 0 48.64865%;
  background: #10375C;
  padding: 54px;
}

.frispes-why__line-title {
  margin: 0 0 8px 0;
}

.frispes-why__title {
  margin: 0 0 8px 0;
}

.frispes-why__text {
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.use-frispes {
  margin: 112px 0 0 0;
}

.use-frispes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.use-frispes__title {
  text-align: center;
  margin: 0 0 24px 0;
}

.use-frispes__subtitle {
  text-align: center;
  margin: 0 0 56px 0;
}

.use-frispes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.use-frispes__link {
  padding: 0 10px 0 0;
}

.use-frispes__link:last-child {
  padding: 0 0px 0 0;
}

.customer {
  margin: 134px auto;
  max-width: 1300px;
}

.customer__line-title {
  margin: 0 0 8px 0;
}

.customer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 399px;
  margin: 0 0 56px 0;
}

.customer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.customer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 445px;
          flex: 0 1 445px;
  padding: 0 15px;
}

.customer__item {
  background: #10375C;
  padding: 40px;
  min-height: 393px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customer__text {
  color: #FFFFFF;
  line-height: 162.5%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 20px 0;
}

.customer__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.person__image {
  margin: 0 16px 0 0;
}

.person__name {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 155.55556%;
  font-weight: 700;
}

.person__position {
  color: #FFFFFF;
  line-height: 162.5%;
}

.questions {
  margin: 0 0 100px 0;
}

.questions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 578px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 51px 0;
}

.questions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.questions__column {
  background-color: white;
  -webkit-box-shadow: 2px 2px 8px 2px #eeeded;
          box-shadow: 2px 2px 8px 2px #eeeded;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 15px;
}

.questions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions__item_white {
  background-color: #FF5722;
}

._no-webp .questions__item_white::after{
  background: #f8f8f8 url("../img/arrow2.2.png") center no-repeat; }

.questions__item_white::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 44%;
  width: 48px;
  height: 48px;
  z-index: 3;
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.26);
          box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.26);
  padding: 10px 16px;
}

.questions__text {
  color: #000000;
  font-family: Lora;
  font-size: 26px;
  text-align: center;
  line-height: 126.92308%;
  padding: 40px 40px 60px 40px;
}

.questions__text span {
  color: white;
}

._no-webp .questions__text::after{
  background: #FF5722 url("../img/arrow2png.png") center no-repeat; }

.questions__text::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 44%;
  width: 48px;
  height: 48px;
  z-index: 3;
  -webkit-box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.26);
          box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.26);
  padding: 10px 16px;
}

.news__body {
  background: #F8F8F8;
}

.news__title {
  padding: 60px 0 56px 0;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 15px 15px;
}

.news__column_long {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.item-news {
  background: #FFFFFF;
}

.item-news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-news__content {
  padding: 32px;
}

.item-news__title {
  font-family: Lora;
  font-weight: 700;
  font-size: 32px;
  line-height: 128.125%;
  color: #222831;
  margin: 0 0 24px 0;
}

.item-news__info {
  line-height: 162.5%;
  margin: 0 0 16px 0;
}

.item-news__paragraph {
  margin: 15px 0 15px 15px;
}

.item-news__subtitle {
  color: #222831;
  font-family: Lora;
  font-size: 22px;
  line-height: 127.27273%;
  margin: 0 0 4px 0;
}

.item-news__name {
  line-height: 162.5%;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.person__item {
  margin: 0 0 0 13px;
}

.person__name_blue {
  color: #10375C;
}

.person__position_grey {
  color: #9A9A9A;
}

._webp .check-our-spaces::before{ background: url(../img/image2.webp) no-repeat; }

._webp .questions__item_white::after{ background: #f8f8f8 url(../img/arrow2.2.webp) center no-repeat; }

._webp .questions__text::after{ background: #FF5722 url(../img/arrow2png.webp) center no-repeat; }